@import "../vars/media.scss";

.nav-card {
  width: 33.3333%;
  margin: 0;
  padding: 0;
  position: relative;
  color: #fff;
  text-shadow: 0 0 8px #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    width: 25%;
  }

  @media screen and (min-width: $desktop) {
    width: 20%;
  }
  
  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .nav-card-link,
  .nav-thumbnail {
    position: absolute;
  }

  .nav-card-link {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    z-index: 1;
    background: rgba(0, 0, 0, .5);
    font-size: 15px;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  .nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 600;
    text-align: center;

    @media screen and (min-width: $bigPhone) {
      font-size: 1.15rem;
    }

    @media screen and (min-width: $tablet) {
      font-size: 1.5rem;
    }
  }

  .nav-thumbnail {
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.nav-card--double {
  width: 66.6666%;
  align-self: stretch;

  &::before {
    display: none;
  }
}

.nav-card--search {
  background-color: var(--search-background-color);

  .search-form {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    label {
      display: block;
    }

    .search-field {
      display: block;
      width: 100%;
    }
  }
}