.site-footer {
  position: fixed;
  inset: auto 0 0;
  background: rgba(255, 255, 255, .8);
  backdrop-filter: blur(5px);
  padding: 5px;
  max-width: 100%;
  text-align: center;
  z-index: 1;
  box-sizing: border-box;
}